@charset "UTF-8";
body {
  background: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-family: 'Poiret One', cursive;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  height: 100px;
  background: url("../img/yellow_wide3.png") no-repeat center;
  text-align: center;
  line-height: 80px;
  font-size: 150%;
}

p {
  font-size: 150%;
}

.blue {
  color: #136F8E;
}

.gold {
  color: #D39400;
}

.red {
  color: #EE4848;
}

.green {
  color: #00B168;
}

.bgred {
  background-color: #EE4848;
}

.bggreen {
  background-color: #00B168;
}

/*.flex
    display: flex;
    flex-wrap: wrap; */
.in {
  display: inline-block;
}

/**********************************************************************/
/******************************ШАПКА САЙТА*****************************/
/**********************************************************************/
.wrapper_block_1 {
  width: 100%;
  height: 100vh;
  background: url("../img/headerWotch.jpg") no-repeat center;
  color: #000;
}

.container {
  height: 100%;
  position: relative;
}

.header_title-1 {
  font-size: 170%;
}

.header_title-2 {
  font-size: 300%;
  color: #136F8E;
}

.header_title-3 {
  font-size: 150%;
}

.header_list {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-weight: bold;
}

.header_title {
  margin-top: 10px;
}

.header_list {
  display: block;
  font-size: 150%;
}

/**********************************************************************/
/********************************БРЭНД*********************************/
/**********************************************************************/
.block_brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.img_brand {
  display: block;
  margin: 25px auto;
  width: 100%;
  height: 132px;
}

.logo {
  width: 50%;
}

.brequet_colomn {
  width: 50%;
  min-width: 340px;
  min-height: 100px;
  margin: auto;
  padding: 10px;
}

img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

#block_2_wotch-1 {
  width: 80%;
}

/**********************************************************************/
/************************ПОСМОТРИТЕ ВИДЕООБЗОР*************************/
/**********************************************************************/
video {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.block_3_col_2 {
  margin-top: 50px;
  text-align: center;
  padding-top: 80px;
  width: 100%;
  height: 500px;
  background: url("../img/auto-1.png") no-repeat center;
  background-size: contain;
}

.block_3_col_2 p {
  margin-bottom: 50px;
}

/**********************************************************************/
/************************МИРОВОЕ ПРИЗНАНИЕ*****************************/
/**********************************************************************/
.block_4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.block_4_col {
  width: 50%;
  min-width: 340px;
  min-height: 100px;
  margin: auto;
  text-align: center;
}

/**********************************************************************/
/***************************ХАРАКТЕРИСТИКИ*****************************/
/**********************************************************************/
.block_5 {
  background: url("../img/hand_wotch.png");
  padding: 20px 10px;
  height: 500px;
}

.features_list {
  list-style: none;
  text-align: right;
}

.features_list li {
  font-size: 20px;
}

.features_list li span {
  font-weight: bold;
}

/**********************************************************************/
/**************************НОВОСТИ УЧЕНЫХ******************************/
/**********************************************************************/
.block_6 {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.block_6_col {
  width: 50%;
  min-width: 340px;
  min-height: 100px;
  margin: auto;
}

.action {
  width: 100%;
  height: 500px;
  background: url("../img/auto-2.png") center no-repeat;
  background-size: contain;
  padding-top: 100px;
}

.action p {
  margin-bottom: 50px;
}

/**********************************************************************/
/***************************ОТЗЫВЫ ПОКУПАТЕЛЕЙ*************************/
/**********************************************************************/
.opinion_1 {
  margin: 50px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.opinion_1 img {
  width: 140px;
  height: 140px;
  margin: auto;
}

.opinion_1_group {
  padding: 5px;
  max-width: 85%;
}

/**********************************************************************/
/****************************НАШИ ПРЕИМУЩЕСТВА*************************/
/**********************************************************************/
.block_8 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.block_8 h5 {
  margin: 0;
  padding: 15px;
  font-size: 120%;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.block_8 ul {
  margin: 50px 10px;
}

.advantage {
  margin-left: 5px;
  width: 49%;
  min-height: 100px;
  font-size: 160%;
  background-color: #333437;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.advantage ul {
  list-style-image: url("../img/tick.png");
}

.disadvantage {
  margin-right: 5px;
  width: 49%;
  min-height: 100px;
  font-size: 160%;
  background-color: #333437;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.disadvantage ul {
  list-style-image: url("../img/cross.png");
}

/**********************************************************************/
/******************************ДОСТАВКА********************************/
/**********************************************************************/
.block_9 {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.block_9_col {
  border: 0px solid #c7c7c7;
  padding: 10px;
}

.block_9_col_1 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}

.block_9_col_2 {
  margin: auto;
}

.block_9_col_3 {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form {
  color: #000;
  font-weight: bold;
}

.btnlg {
  border: none;
}

/**********************************************************************/
/*******************************ФУТЕР**********************************/
/**********************************************************************/
.wrapper_footer {
  margin-top: 80px;
  padding-top: 50px;
  font-size: 60%;
  height: 190px;
  background: url("../img/foot.png");
}
