$red: #EE4848;
$green: #00B168;
$grey: #747280;
$blue: #136F8E;
$gold: #D39400;

body
    background: black;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poiret One', cursive;
h1, h2, h3, h4, h5, h6
    text-transform: uppercase;
    font-weight: bold;
h2  
    height: 100px;
    background: url("../img/yellow_wide3.png") no-repeat center;
    text-align: center;
    line-height: 80px;
    font-size: 150%;
p
    font-size: 150%;
.blue
    color: $blue;
.gold
    color: $gold;
.red
    color: $red;
.green
    color: $green;
.bgred
    background-color: $red;
.bggreen
    background-color: $green;
/*.flex
    display: flex;    
    flex-wrap: wrap;
.in
    display: inline-block;
    
/**********************************************************************/
/******************************ШАПКА САЙТА*****************************/
/**********************************************************************/

.wrapper_block_1
    width: 100%;
    height: 100vh;
    background: url('../img/headerWotch.jpg') no-repeat center;
    color: #000;
.container
    height: 100%;
    position: relative;
.header_title-1
    font-size: 170%;
.header_title-2
    font-size: 300%;
    color: #136F8E;
.header_title-3
    font-size: 150%;   
.header_list
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-weight: bold;
.header_title
    margin-top: 10px;
.header_list
    display: block;
    font-size: 150%;   
    
/**********************************************************************/
/********************************БРЭНД*********************************/
/**********************************************************************/

.block_brand
    display: flex;    
    flex-wrap: wrap;
.img_brand
    display: block;
    margin: 25px auto;
    width: 100%;
    height: 132px;
.logo
    width: 50%;
.brequet_colomn
    width: 50%;
    min-width: 340px;
    min-height: 100px;
    margin: auto;
    padding: 10px;
img
    display: block;
    width: 100%;
    margin: 0 auto;
#block_2_wotch-1
    width: 80%;  
    
/**********************************************************************/
/************************ПОСМОТРИТЕ ВИДЕООБЗОР*************************/
/**********************************************************************/

video
    display: block;
    width: 100%;
    margin: 0 auto;
.block_3_col_2
    margin-top: 50px;
    text-align: center;
    padding-top: 80px;
    width: 100%;
    height: 500px;
    background: url("../img/auto-1.png") no-repeat center;
    background-size: contain;
    p
        margin-bottom: 50px;

/**********************************************************************/
/************************МИРОВОЕ ПРИЗНАНИЕ*****************************/
/**********************************************************************/
.block_4
    display: flex;    
    flex-wrap: wrap;
.block_4_col
    width: 50%;
    min-width: 340px;
    min-height: 100px;
    margin: auto;
    text-align: center;

/**********************************************************************/
/***************************ХАРАКТЕРИСТИКИ*****************************/
/**********************************************************************/    
.block_5
    background: url("../img/hand_wotch.png");
    padding: 20px 10px;
    height: 500px;
.features_list
    list-style: none;
    text-align: right;
    li
        font-size: 20px;
        span
            font-weight: bold;
            
/**********************************************************************/
/**************************НОВОСТИ УЧЕНЫХ******************************/
/**********************************************************************/

.block_6
    text-align: center;
    display: flex;    
    flex-wrap: wrap;
.block_6_col
    width: 50%;
    min-width: 340px;
    min-height: 100px;
    margin: auto;
.action
    width: 100%;
    height: 500px;
    background: url("../img/auto-2.png") center no-repeat;
    background-size: contain;
    padding-top: 100px;
    p
        margin-bottom: 50px;

/**********************************************************************/
/***************************ОТЗЫВЫ ПОКУПАТЕЛЕЙ*************************/
/**********************************************************************/

.opinion_1
    margin: 50px 0;
    display: flex;    
    flex-wrap: wrap;
    img
        width: 140px;
        height: 140px;
        margin: auto;
.opinion_1_group
    padding: 5px;
    max-width: 85%;

/**********************************************************************/
/****************************НАШИ ПРЕИМУЩЕСТВА*************************/
/**********************************************************************/
.block_8
    justify-content: center;
    display: flex;    
    flex-wrap: wrap;
    h5
        margin: 0;
        padding: 15px;
        font-size: 120%;
        border-radius: 10px;
    ul
        margin: 50px 10px;
.advantage
    margin-left: 5px;
    width: 49%;
    min-height: 100px;
    font-size: 160%;
    background-color: #333437;
    border-radius: 10px;
    ul
        list-style-image: url("../img/tick.png");
.disadvantage
    margin-right: 5px;
    width: 49%;
    min-height: 100px;
    font-size: 160%;
    background-color: #333437;
    border-radius: 10px;
    ul
        list-style-image: url("../img/cross.png");

/**********************************************************************/
/******************************ДОСТАВКА********************************/
/**********************************************************************/
.block_9
    justify-content: space-around;
    display: flex;    
    flex-wrap: wrap;
.block_9_col
    border: 0px solid #c7c7c7;
    padding: 10px;
.block_9_col_1
    flex-basis: 100%;
.block_9_col_2
    margin: auto;
.block_9_col_3
    flex-basis: 50%;
    flex-grow: 1;
.block_9_col_4
    flex-basis:
.form
    color: #000;
    font-weight: bold;
.btnlg
    border: none;
/**********************************************************************/
/*******************************ФУТЕР**********************************/
/**********************************************************************/

.wrapper_footer
    margin-top: 80px;
    padding-top: 50px;
    font-size: 60%;
    height: 190px;
    background: url("../img/foot.png");
    