$red: #FD0000;
$green: #25A034;
$grey: #747280;
$blue: #136F8E;
$yellow: #FDB703;

body
    /*height: 5150px;
    background: black;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poiret One', cursive;
    
h1, h2, h3, h4, h5, h6
    text-transform: uppercase;
    font-weight: bold;
    
h2  
    height: 100px;
    background: url("../img/yellow_wide3.png") no-repeat center;
    text-align: center;
    line-height: 80px;
    font-size: 150%;
    
p
    font-size: 150%;
    font-weight: 300;
    
.blue
    color: $blue;
    
.gold
    color: #D39400;
    
/*****header*****/
.wrapper
    border: 0px solid #c7c7c7;
    width: 100%;
    height: 100vh;
    background: url('../img/headerWotch.jpg') no-repeat center;
    
.container
    height: 100%;
    position: relative;
    border: 0px solid #c6c6c6;
    
.header_list
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-weight: bold;

.header_title
    margin-top: 10px;
    
.header_title-1
    font-size: 170%;
    color: #4A3500;
    
.header_title-2
    font-size: 300%;
    color: #136F8E;

.header_title-3
    font-size: 150%;
    color: #000;

.header_list
    display: block; 
    
.h_list_item
    font-size: 150%;
    color: #000;
/*****slide*****
/*.slide
    width: 350px;
    height: 550px;
    border: 1px solid green;
    
/*.slide_bar
    width: 350px;
    height: 500px;
    border: 1px solid green; 
    overflow: hidden;
    
/*.but
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid green;
    
/*.black-but
    background: #000;
    
/*.gold-but
    background: gold;
    
/*.gold-but:active .slide_bar
    background-position: -350px;
 /*****block-2*****/

.brand
    display: block;
    margin: 25px auto;
    width: 100%;
    height: 132px;
    background: url("../img/breguet.png") no-repeat center;

.brequet_colomn
    width: 50%;
    min-width: 340px;
    min-height: 100px;
    /*background: #c7c7c7;*/
    border: 0px solid #fff;
    margin: auto;
    padding: 10px;
    
    img
        display: block;
        width: 100%;
        margin: 0 auto;
        border: 0px solid #c7c7c7;

#block_2_wotch-1
    width: 80%;
    

.brequet_colomn-2
    /*background: url("../img/block_2_wotch-1.png");
    /*background-size: cover;
    
.flex
    display: flex;    
    flex-wrap: wrap;
    align-content: flex-start;
    